Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://dareyno4.github.io/hotelSchema/" 
	xmlns="https://dareyno4.github.io/hotelSchema/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressType" />
		</xsd:sequence>

		<xsd:attribute name="Rating" type="RatingType" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string"/>
			<xsd:element name="Street" type="xsd:string"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="State" type="StateType"/>
			<xsd:element name="Zip" type="ZipType"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>

	</xsd:complexType>

	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\d\-\(\)\s\+]{7,20}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ZipType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}(-\d{4})?"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StateType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RatingType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0"/>
			<xsd:maxInclusive value="5.0"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
